<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/adminpanel.css" rel="stylesheet">
    <script src="../static/userTable.js"></script>
</head>
<body class="vh-100 d-flex flex-column">




<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand text-white-50 font-weight-normal mb-0 h1">Spring Boot</span>
    <a href="/logout" class="text-white-50">Logout</a>
</nav>

<div class="container-fuild h-100 d-flex">
    <div class="row no-gutters h-100 w-100">
        <div class="col-2 mt-4">
            <nav class="nav flex-column">
                <a class="nav-link active bg-primary text-white" href="/admin/users">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </nav>
        </div>
        <div class="col-10 px-5 py-3 bg-light">

            <nav class="mb-4">
                <h1 class="text-dark">Admin panel</h1>
            </nav>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New user</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade active show bg-white border rounded shadow-sm" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <nav class="navbar bg-light py-3">
                        <h6 class="mb-0">All users</h6>
                    </nav>

                    <div class="p-3 pb-5">
                        <table class="table table-striped">
                            <thead class="">
                            <tr class="">
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Password</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>

                            <tbody id="dynamic-table" class="dynamic-table">
                            <!--                                <tr th:each="user : ${usersList}">-->
                            <!--                                    <td th:text="${user.id}"></td>-->
                            <!--                                    <td th:text="${user.roles}"></td>-->
                            <!--                                    <td th:text="${user.login}"></td>-->
                            <!--                                    <td th:text="${user.password}"></td>-->

                            <!--                                    <td><button class="btn btn-info" type="button" data-toggle="modal" th:data-target="'#' + 'user' + ${user.id}">Edit</button></td>-->
                            <!--                                    <td><a class="btn btn-danger" th:href="@{admin/delete/{id}(id=${user.id})}">Delete</a></td>-->

                            <!--                                <div th:id="'user' + ${user.id}" class="modal fade" role="dialog">-->
                            <!--                                    <div class="modal-dialog" role="document">-->
                            <!--                                        <div class="modal-content">-->
                            <!--                                            <form action="/admin/edit" name="user" method="POST">-->
                            <!--                                                <div class="modal-header">-->
                            <!--                                                    <h5 class="modal-title">Edit user</h5>-->
                            <!--                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--                                                        <span aria-hidden="true">&times;</span>-->
                            <!--                                                    </button>-->
                            <!--                                                </div>-->
                            <!--                                                <div class="modal-body">-->
                            <!--                                                    <div class="form-group text-center">-->
                            <!--                                                        <label class="font-weight-bold" for="id">ID</label>-->
                            <!--                                                        <input class="form-control" id="id" type="text" name="id" th:value="${user.id}" readonly>-->
                            <!--                                                    </div>-->

                            <!--                                                    <div class="form-group text-center">-->
                            <!--                                                        <label class="font-weight-bold" for="change-login">Login</label>-->
                            <!--                                                        <input class="form-control" id="change-login" type="text" name="login" th:value="${user.login}">-->
                            <!--                                                    </div>-->

                            <!--                                                    <div class="form-group text-center">-->
                            <!--                                                        <label class="font-weight-bold" for="change-password">Password</label>-->
                            <!--                                                        <input class="form-control" id="change-password" name="password" type="text" value="" required>-->
                            <!--                                                    </div>-->

                            <!--                                                    <div class="form-group mb-0">-->
                            <!--                                                        <input type="checkbox" id="change-admin" name="roles" value="2">-->
                            <!--                                                        <label for="change-admin">Admin</label>-->

                            <!--                                                        <input type="checkbox" id="change-user" name="roles" value="3">-->
                            <!--                                                        <label for="change-user">User</label>-->
                            <!--                                                    </div>-->
                            <!--                                                </div>-->
                            <!--                                                <div class="modal-footer">-->
                            <!--                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                            <!--                                                    <button class="btn btn-primary">Save</button>-->
                            <!--                                                </div>-->
                            <!--                                            </form>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="tab-pane fade show bg-white border rounded shadow-sm" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <nav class="navbar bg-light py-3">
                        <h6 class="mb-0">Add new user</h6>
                    </nav>

                    <div class="p-3">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <form name="user">

                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="name">Name</label>
                                        <input class="form-control" type="text" id="name" name="name" placeholder="Name">
                                    </div>

                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="password">Password</label>
                                        <input class="form-control" type="text" id="password" name="password" placeholder="Password">
                                    </div>

                                    <div class="form-group mb-0">
                                        <input type="checkbox" id="admin" name="roles">
                                        <label for="admin">Admin</label>

                                        <input type="checkbox"  id="user" name="roles">
                                        <label for="user">User</label>
                                    </div>

                                    <div class="form-group text-center mb-0">
                                        <button class="btn btn-success">Add new user</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="edit-user-modal" class="modal fade" role="dialog">-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="change-user" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center">
                        <label class="font-weight-bold" for="user-id">ID</label>
                        <input class="form-control" id="user-id" type="text" name="id" readonly>
                    </div>

                    <div class="form-group text-center">
                        <label class="font-weight-bold" for="change-name">Name</label>
                        <input class="form-control" id="change-name" type="text" name="name">
                    </div>

                    <div class="form-group text-center">
                        <label class="font-weight-bold" for="change-password">Password</label>
                        <input class="form-control" id="change-password" name="password" type="text" value="" >
                      </div>

                    <div class="form-group mb-0">
                        <input type="checkbox" id="change-admin" checked="checked" name="roles">
                        <label for="change-admin">Admin</label>

                        <input type="checkbox" id="change-user" name="roles">
                        <label for="change-user">User</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/userTable.js"></script>
</body>
</html>